.page_title {
  padding: 20px 60px 10px;
  font-size: 28px;
  text-transform: capitalize;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 3;
  padding: 20px 60px;
  gap: 20px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.column {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: start;
}

.icon_container {
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon_container:hover {
  background-color: #e0e0e0;
}
