.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 20px 60px;
}

.buttons_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.favorites,
.comparison {
  text-transform: capitalize;
}
